<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd"
	default-lazy-init="true">
	   <alias alias="elink_jt808_2013_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_2013_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_2013_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       <alias alias="elink_jt808_1078_2011_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_1078_2011_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_1078_2011_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       <alias alias="elink_jt808_1078_2013_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_1078_2013_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_1078_2013_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       <alias alias="elink_jt808_1078_2013_0200_messageHandler"  name="elink_jt808_2011_0200_messageHandler"/>
       <alias alias="elink_jt808_1078_2013_0704_messageHandler"  name="elink_jt808_2013_0704_messageHandler"/>
       
       
       <alias alias="elink_jt808_2015_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_2015_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_2015_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       <alias alias="elink_jt808_2015_0200_messageHandler"  name="elink_jt808_2011_0200_messageHandler"/>
       <alias alias="elink_jt808_2015_0704_messageHandler"  name="elink_jt808_2013_0704_messageHandler"/>
       
       
       <alias alias="elink_jt808_tjsatl_2017_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_tjsatl_2017_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_tjsatl_2017_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       <alias alias="elink_jt808_2019_2019_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_2019_2019_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_2019_2019_0200_messageHandler"  name="elink_jt808_2011_0200_messageHandler"/>
       <alias alias="elink_jt808_2019_2019_0704_messageHandler"  name="elink_jt808_2013_0704_messageHandler"/>
       <alias alias="elink_jt808_2019_2019_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       
       <alias alias="elink_jt808_2019_1078_2016_0100_messageHandler"  name="elink_jt808_2019_2019_0100_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2016_0102_messageHandler"  name="elink_jt808_2019_2019_0102_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2016_0200_messageHandler"  name="elink_jt808_tjsatl_2017_0200_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2016_0704_messageHandler"  name="elink_jt808_tjsatl_2017_0704_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2016_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       
       <alias alias="elink_jt808_2019_1078_2019_0100_messageHandler"  name="elink_jt808_2019_2019_0100_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2019_0102_messageHandler"  name="elink_jt808_2019_2019_0102_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2019_0200_messageHandler"  name="elink_jt808_tjsatl_2017_0200_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2019_0704_messageHandler"  name="elink_jt808_tjsatl_2017_0704_messageHandler"/>
       <alias alias="elink_jt808_2019_1078_2019_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       
       <alias alias="elink_jt808_2019_tgdrta_2020_0100_messageHandler"  name="elink_jt808_2019_2019_0100_messageHandler"/>
       <alias alias="elink_jt808_2019_tgdrta_2020_0102_messageHandler"  name="elink_jt808_2019_2019_0102_messageHandler"/>
       <alias alias="elink_jt808_2019_tgdrta_2020_0200_messageHandler"  name="elink_jt808_tjsatl_2017_0200_messageHandler"/>
       <alias alias="elink_jt808_2019_tgdrta_2020_0704_messageHandler"  name="elink_jt808_tjsatl_2017_0704_messageHandler"/>
       <alias alias="elink_jt808_2019_tgdrta_2020_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       <alias alias="elink_tgdrta_tgdrta_2020_1210_messageHandler"  name="elink_tjsatl_tjsatl_2017_1210_messageHandler"/>
       <alias alias="elink_tgdrta_tgdrta_2020_1212_messageHandler"  name="elink_tjsatl_tjsatl_2017_1212_messageHandler"/>
       <alias alias="elink_tgdrta_state_messageHandler"  name="elink_tjsatl_state_messageHandler"/>
       
       <alias alias="elink_jt905_2014_1078_2016_0102_messageHandler"  name="elink_jt905_2014_0102_messageHandler"/>
       <alias alias="elink_jt905_2014_1078_2016_0200_messageHandler"  name="elink_jt905_2014_0200_messageHandler"/>
       
       <alias alias="elink_jt10782016His_state_messageHandler"  name="elink_jt10782016Live_state_messageHandler"/>
       <alias alias="elink_jt10782019His_state_messageHandler"  name="elink_jt10782016Live_state_messageHandler"/>
       <alias alias="elink_jt10782019Live_state_messageHandler"  name="elink_jt10782016Live_state_messageHandler"/>
       
       <alias alias="elink_jt10782016Live_2016_0102_messageHandler"  name="elink_jt10782016_2016_0102_messageHandler"/>
       <alias alias="elink_jt10782016His_2016_0102_messageHandler"   name="elink_jt10782016_2016_0102_messageHandler"/>
       <alias alias="elink_jt10782019live_2019_0102_messageHandler"  name="elink_jt10782016_2016_0102_messageHandler"/>
       <alias alias="elink_jt10782019His_2019_0102_messageHandler"   name="elink_jt10782016_2016_0102_messageHandler"/>
       
       <alias alias="elink_jt10782016His_2016_1801_messageHandler"  name="elink_jt10782016Live_2016_1801_messageHandler"/>
	   <alias alias="elink_jt10782019Live_2019_1801_messageHandler"  name="elink_jt10782016Live_2016_1801_messageHandler"/>
	   <alias alias="elink_jt10782019His_2019_1801_messageHandler"  name="elink_jt10782016Live_2016_1801_messageHandler"/>
	   
	   <alias alias="elink_jt808_2019_hljdlys503_2020_0100_messageHandler"  name="elink_jt808_2019_2019_0100_messageHandler"/>
       <alias alias="elink_jt808_2019_hljdlys503_2020_0102_messageHandler"  name="elink_jt808_2019_2019_0102_messageHandler"/>
       <alias alias="elink_jt808_2019_hljdlys503_2020_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       <alias alias="elink_hljdlys503_hljdlys503_2020_1210_messageHandler"  name="elink_tjsatl_tjsatl_2017_1210_messageHandler"/>
       <alias alias="elink_hljdlys503_hljdlys503_2020_1212_messageHandler"  name="elink_tjsatl_tjsatl_2017_1212_messageHandler"/>
       <alias alias="elink_hljdlys503_state_messageHandler"  name="elink_tjsatl_state_messageHandler"/>
       
       <alias alias="elink_jt808_db32t3610_2019_0100_messageHandler"  name="elink_jt808_tjsatl_2017_0100_messageHandler"/>
       <alias alias="elink_jt808_db32t3610_2019_0102_messageHandler"  name="elink_jt808_tjsatl_2017_0102_messageHandler"/>
       <alias alias="elink_jt808_db32t3610_2019_0801_messageHandler"  name="elink_jt808_tjsatl_2017_0801_messageHandler"/>
       
       
       <alias alias="elink_jt808_2019_db31t1409_2023_0001_messageHandler"  name="elink_jt808_2019_2019_0001_messageHandler"/>
       <alias alias="elink_jt808_2019_db31t1409_2023_0100_messageHandler"  name="elink_jt808_2019_2019_0100_messageHandler"/>
       <alias alias="elink_jt808_2019_db31t1409_2023_0102_messageHandler"  name="elink_jt808_2019_2019_0102_messageHandler"/>
       <alias alias="elink_jt808_2019_db31t1409_2023_0801_messageHandler"  name="elink_jt808_2019_2019_0801_messageHandler"/>
       
       <alias alias="elink_jt808_tjlysxh_2019_0001_messageHandler"  name="elink_jt808_2011_0001_messageHandler"/>
       <alias alias="elink_jt808_tjlysxh_2019_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_tjlysxh_2019_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_tjlysxh_2019_0200_messageHandler"  name="elink_jt808_tjsatl_2017_0200_messageHandler"/>
       <alias alias="elink_jt808_tjlysxh_2019_0704_messageHandler"  name="elink_jt808_tjsatl_2017_0704_messageHandler"/>
       <alias alias="elink_jt808_tjlysxh_2019_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
       <alias alias="elink_jt808_tscsdx0001_2019_0001_messageHandler"  name="elink_jt808_2011_0001_messageHandler"/>
       <alias alias="elink_jt808_tscsdx0001_2019_0100_messageHandler"  name="elink_jt808_2011_0100_messageHandler"/>
       <alias alias="elink_jt808_tscsdx0001_2019_0102_messageHandler"  name="elink_jt808_2011_0102_messageHandler"/>
       <alias alias="elink_jt808_tscsdx0001_2019_0801_messageHandler"  name="elink_jt808_2011_0801_messageHandler"/>
       
</beans>